@import '../utils/variables';

.blog
{
  &_container
  {
      padding: 58px 0 106px 0;
  }

  &_header
  {
    padding: 16px 18px 24px 18px;
  }

  &_body
  {
    padding: 0;
  }

  &_categoryContainer
  {
    display: flex;
    height: 40px;
    overflow: auto;
    margin-left: 17px;
  }

  &_category
  {
    display: flex;
    list-style-type:none;
    margin: 0;
    padding: 0;
  }

  &_categoryItem
  {
    @include flex(row,center);
    border: 1px solid $color_border;
    padding: 8px 16px;
    border-radius: 50px;
    margin-right: 8px;
    width: max-content;
    color: $color_text_primary;
    @include typographyBuilder(secondary,400,14,24);
    cursor: pointer;

    &:hover
    {
      border-color: $color_rose;
      background-color: $color_rose_bg2;

    }

    & > a 
    {
      text-decoration: none;
    }
  }

  &_items
  {
    @include fixedWidth(100%);
    padding: 0 17px;
  }

  &_item
  {
    @include flex(row,center,unset);
    border-bottom: 1px solid #E8E8E8;
    padding: 24px 0;

    &_imageContainer
    {
      @include fixedWidth(64px);
      margin-right: 8px;
    }

    &_title
    {
      @include typographyBuilder(secondary,500,14,24);
      text-decoration: none !important;
    }

    &_content
    {
      width: 100%;
    }

    &_author
    {
      padding: 0 2px;
      display: flex;

      &::after
      {
        content: ','
      }
    }

    &_innerFooterDate
    {
      padding: 0 2px;
    }

    &_innerFooter
    {
      display: flex;
      color: $color_text_secondary;
      @include typographyBuilder(secondary,400,12,16);
    }
  }

  &_pagination
  {
    list-style-type:none;
    @include flex();
    padding:24px 0 0 0;

    &_item 
    {
      border: 1px solid #E5E7EF;
      width: 44px;
      height: 44px;
      border-radius: 2px; 
      @include flex();
      @include typographyBuilder(secondary,400,14,24);
      margin: 0 4px;
      cursor: pointer;
      color: $color_text_primary;
    }

    &_active,:hover
    {
      background-color: $color_rose;
      color: $color_white;
    }

    :first-child,
    :last-child
    {
      border: none;
    }
  }

  &_detail
  {

    &_header
    {
      padding: 0 17px;
      text-align: center;
    }

    &_title
    {
      @include typographyBuilder(primary,500,28,40); 
      color: $color_rose;
    }

    &_desc
    {
      @include flex(row,center);
      padding: 24px 0;
      @include typographyBuilder(secondary,400,12,16); 
      color: $color_text_secondary;
    }

    &_content
    {
      color: $color_text_primary;
      @include typographyBuilder(secondary,400,14,24);
      & > *
      {
        padding: 0 17px;
      }

      & > img
      {
        padding: 0;
      }
    }
  }

  &_empty
  {
    & > div > a 
    {
      text-decoration: none;
      @include typographyBuilder(secondary,500,14,24); 
      color: $color_rose;
      margin-top: 100px;
    }
  }
}