@import '../utils/variables';

.login
{
  &_breadcrumb
  {
    padding: 58px 18px 0 18px;
    margin: 16px 0 24px 0;
  }

  &_header
  {
    @include flex(column);
    color: $color_rose;

    & > h3 
    {
      @include typographyBuilder(primary,500,28,40)
    }
  }

  &_containerForm 
  {
    @include flex(column);
  }

  &_container
  {
    display: grid;
    padding: 24px 17.5px 0 17.5px;
  }

  &_inputContainer
  {
    width: 100%;
    padding-bottom: 16px;
    & > label 
    {
      display: none;
    }
  }

  &_passwordContainer
  {
    display: grid;
    grid-template-columns: 80% 20%;

    & > input 
    {
      grid-column: 1 / span 2;
      grid-row: 1;
    }

    & > button 
    {
      color: $color_rose;
      width: 40px;
      height: 40px;
      align-self: center;
      justify-self: center;
      grid-column: 2;
      grid-row: 1;
      background-color: $color_rose_bg2;
      border-radius: 30px;
      border: none;
    }
  }

  &_forgotContainer
  {
    @include flex();
    @include typographyBuilder(secondary,500,14,24);
    grid-row: 3;
    padding: 23.5px 0 35.5px 0;
    
    & > span > a 
    {
      color: $color_rose;
    }
  }

  &_signUp 
  {
    margin: 12px 0 0 0 !important;
    text-decoration: none !important;
    color: $color_rose;
  }

  &_separator
  {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #E6E6E6; 
    line-height: 0.1em;
    margin: 10px 0 24px; 
  
    & > span 
    { 
      @include typographyBuilder(secondary,400,12,16);
      line-height: unset;
      background: #fff; 
      padding:0 10px; 
    }
  }

  &_containerAuth
  {
    @include flex(row,center,space-around);
    padding: 0 0 106px 0;

    &_item
    {
      border-radius: 50px !important;
      background: $color_rose_bg2 !important;
      width: 54px;
      height: 54px;

      & > div 
      {
        @include flex();
        padding: 0 !important;
        margin: 0 !important;
        width: 54px;
        height: 54px;
        background: unset !important;
      }
      
      & > span 
      {
        display: none;
      }
    }
  }
}