@import '../base/colors';
@import '../utils/variables';
@import '../components/CustomerDetail.module.scss';
@import '../components/Button.module.scss';
@import '../components/Form.module.scss';
@import '../components/OrderSummary.module.scss';
@import '../components/Popup.module.scss';

.payment
{
  padding: 0 18px 18px;

  &_shipping
  {
    @include flex(row, center, flex-start);
  }

  &_shippingTitle
  {
    @include typographyBuilder(secondary, 400, 14, 24);
    color: $color_text_primary;
    margin-bottom: 0;
  }

  &_shippingCost
  {
    @include typographyBuilder(secondary, 400, 14, 24);
    color: $color_text_secondary;
    margin-left: 6px;
    margin-bottom: 0;
  }

  &_listTitle
  {
    @include typographyBuilder(secondary, 400, 14, 24);
    color: $color_text_primary;
  }

  &_listItemDisabled
  {
    @include flex(row, center, space-between, true);
    background: $color_text_secondary;
    border: 1px solid $color_border;
    border-radius: 2px;
    margin-bottom: 16px;
    @include typographyBuilder(secondary, 400, 14, 24);
    color: $color_white;
    cursor: pointer;
  }

  &_listItemEnabled
  {
    @include flex(row, center, space-between, true);
    background: $color_white;
    border: 1px solid $color_border;
    border-radius: 2px;
    margin-bottom: 16px;
    @include typographyBuilder(secondary, 400, 14, 24);
    color: $color_text_primary;
    cursor: pointer;
  }

  &_listItemOverlay
  {
    @include fixedWidth(100%);
    @include fixedHeight(100%);
    @include flex(row, center, center);
    padding: 0 16px;
    background-color: rgba($color_black, 0.8);
    @include fixed(0, auto, auto, 0);
    z-index: 10;
  }

  &_listItemPopup
  {
    @include position(relative);
    z-index: 10;
    padding: 16px;
    background: $color_white;
    border-radius: 2px;

    &__close
    {
      @include absolute(0, 0, auto, auto);
      background: transparent;
      border: none;
      padding: 5px 7.5px;
      cursor: pointer;

      &:focus,
      &:active
      {
        outline: 0;
        border: none; 
      }
    }

    &__payment
    {
      margin: calc(45px + 27px) 0 0;
      padding: 0 16px;
    }
  }

  &_listItemPopupForm
  {
    &__body
    {
      margin-top: 1rem;
    }

    &__input
    {
      width: max-content !important;
      border-radius: 0 !important;
    }

    &__button
    {
      background: $color_blue;
      color: $color_white;
      height: calc(2em + 1rem + 4px);
      border-color: $color_border !important;
      border-left: 0 !important;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      border-radius: 0 !important;
    }
  }

  &_listItemPayment
  {
    @include position(relative);
    display: flex;
    flex: 1;
    padding: 16px;

    &__radio
    {
      margin-top: 2px;
      margin-right: 12px;
      padding-right: 0;

      & > input
      {
        @include absolute(49%, auto, auto, 24px);
        transform: translate(-50%, -50%);
        opacity: 1;
        cursor: pointer;

        &::after
        {
          content: "";
          @include absolute(-2px, auto, auto, -2px);
          @include fixedWidth(20px);
          @include fixedHeight(20px);
          background: $color_white;
          border: 1px solid $color_rose;
          border-radius: 50%;
          z-index: 1;
        }

        &:checked::after 
        {
          border: none;
          background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3QgeD0iMC41IiB5PSIwLjUiIHdpZHRoPSIxOSIgaGVpZ2h0PSIxOSIgcng9IjkuNSIgZmlsbD0id2hpdGUiLz4KPGNpcmNsZSBjeD0iMTAiIGN5PSIxMCIgcj0iNiIgZmlsbD0iIzk5ODA2MCIvPgo8cmVjdCB4PSIwLjUiIHk9IjAuNSIgd2lkdGg9IjE5IiBoZWlnaHQ9IjE5IiByeD0iOS41IiBzdHJva2U9IiM5OTgwNjAiLz4KPC9zdmc+Cg==");
        }
      }
    }

    & > p
    {
      @include typographyBuilder(secondary, 400, 14, 24);
      margin-top: 1px;
      margin-bottom: 0;
      margin-left: 16px;
    }

    &__image
    {
      text-align: right;
      padding: 16px;

      img
      {
        height: 25px;
      }
    }

    &__warning
    {
      display: block;
      width: 100%;
      padding: 0 1rem;
      color: $color_red;
      font-size: 14px;
    }
  }
  
  &_listItemBody
  {
    flex-grow: 1;
    padding: 16px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background: $color_rose_bg1;
    border-top: 1px solid $color_border;
  }
  
  &_listItemDetail
  {
    margin-bottom: 12px;
  }

  &_listItemTable
  {
    @include position(relative);
    @include fixedWidth(100%);
    border-collapse: collapse;
  }

  &_listItemTableRow
  {
    @include typographyBuilder(secondary, 400, 14, 24);
    @include flex(row, center, space-between);
    @include fixedWidth(100%);
    padding: 4px 0;

    &:last-child
    {
      @include typographyBuilder(secondary, 500, 14, 24);
      margin-top: 8px;
      padding-top: 12px;
      border-top: 1px dashed $color_rose;
    }

    &__label
    {
      @include flex(row, center);
      text-align: left;
    }

    &__value
    {
      text-align: right;
    }

    &__priceSale
    {
      &:first-of-type:not(:only-of-type)
      {
        text-decoration: line-through;
        color: $color_text_secondary;

        @media screen and (max-width: 575px) {
          display: inherit;
        }
      }
    }

    &__price
    {
      margin-left: 5px;
    }
  }

  &_footer
  {
    &__promotion
    {
      margin: 12px 0;
    }

    &__agreement
    {
      @include typographyBuilder(secondary, 400, 12, 16);
      text-align: center;
      color: $color_text_primary;
    }

    &__check
    {
      position: relative;
      top: 2px;
      margin-right: 5px;
    }

    &__button
    {
      margin: 12px 0;
    }
  }

  &_empty
  {
    padding: 2rem 0;
    text-align: center;

    &__icon
    {
      width: 3rem !important;
      height: 3rem !important;
    }

    &__title
    {
      font-family: "roboto-medium";
      font-size: 1rem;
      text-transform: uppercase;
      margin: 1rem 0 .5rem 0;
    }
  }

  &_popupProcessOverlay
  {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
  }


  &_popupProcessContainer
  {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 991px) {
      padding: 0 1rem;
    }
  }

  &_popupProcessInner
  {
    display: flex;
    align-items: center;
    width: max-content;
    height: auto;
    padding: 1.5rem;
    text-align: center;
    border-radius: 5px;
    background-color: $color_white;
    box-shadow: 0 0 15px rgba(0,0,0,.15);

    @media screen and (max-width: 991px) {
      width: 100%;
    }
  }

  &_pointButton
  {
    @include fixedWidth(100%);
    @include fixedHeight(60px);
    @include flex(row, center, flex-start);
    @include typographyBuilder(secondary, 400, 14, 24);
    padding: 0 24px;
    border: 1px solid $color_border;
    background: $color_white;
    border-radius: 37px;
    cursor: pointer;

    &:hover
    {
      opacity: .8;
    }

    &::after
    {
      content: "";
      @include position(absolute, auto, 16px, auto, auto)
    }
  }

  &_pointAppliedText,
  &_voucherAppliedText
  {
    flex-grow: 1;
    text-align: left;
  }

  &_pointAppliedRemove,
  &_voucherAppliedRemove
  {
    cursor: pointer;
  }

  &_containerPointPopup
  {
    position: relative;
    z-index: 10;
    padding: 15px 16px;
    background: $color_white;
    border-radius: 5px;

    &__close
    {
      position: absolute;
      right: 0;
      top: 0;
      background: transparent;
      border: none;
      padding: .25rem .5rem;
      cursor: pointer;

      &:focus,
      &:active
      {
        outline: 0;
        border: none; 
      }
    }
  }

  &_pointsPopupLabel
  {
    font-size: 14px;
  }

  &_pointsPopupValue
  {
    font-size: 12px;
  }

  &_buttonChangePoint
  {
    width: 45px;
    background: transparent;
    border: 1px solid $color_blue;
    border-radius: 3px;
    margin-left: 5px;
    transition: 0.3s all ease;
    font-size: 20px;

    &:hover,
    &:active
    {
      background: $color_blue;
      color: $color_white;
    }
  }

  &_pointsFormContainer
  {
    margin: 16px 0;
  }

  &_pointsForm
  {
    display: flex;

    & > input
    {
      border-radius: 3px !important;

      &:focus
      {
        background: $color_blue_light;
        border: 1px solid $color_blue;
      }
    }
  }

  &_pointsInsufficient
  {
    color: $color_red;

    & > p
    {
      font-size: 12px;
      margin: 0;
    }
  }

  &_pointsWarning
  {
    width: 400px;
    text-align: center;
    color: $color_red;

    @media screen and (max-width: 575px) {
      width: 100%;
    }

    & > p
    {
      font-size: 12px;
      margin: 0;
    }
  }
}

.customer
{
  padding: 18px;
  background: $color_rose_bg1;

  &_section
  {
    padding-top: 8px;
    padding-bottom: 16px;
    border-top: 1px dashed $color_rose;
  }

  &_notes
  {
    @include typographyBuilder(secondary, 400, 12, 16);
    color: $color_text_secondary;
  }
}