@import '../utils/variables';
@import '../components/Placeholder.module.scss';

.shippingMethod
{
  padding: 18px;

  &_title
  {
    @include typographyBuilder(secondary, 400, 14, 24);
  }
}

.customer
{
  padding: 18px;
  background: $color_rose_bg1;
}