@import "../utils/variables";
@import "../utils/typography";

.btn
{
  border-radius: 50px;
  @include typographyBuilder(secondary,500,14,24);
  @include fixedWidth(100%);
  padding: 12px;
  border: none;

  &:active,&:focus
  {
    outline: 0;
    box-shadow: none;
  }

  &_primary
  {
    color: $color_white !important;
    background-color: $color_rose !important;
    transition: all .3s;
    &:hover:enabled
    {
      color: $color_white !important;
      background-color: $color_text_primary !important;
    }
    &:disabled
    {
      color: $color_white !important;
      background-color: $color_grey !important;
      border: none !important;
    }
  }

  &_secondary
  {
    color: $color_rose !important;
    border: 1px solid $color_rose !important;
    transition: all .3s;
    &:hover:enabled
    {
      color: $color_text_primary !important;
      border: 1px solid $color_text_primary !important;
    }
    &:disabled
    {
      color: $color_grey !important;
      background-color: $color_white !important;
      border: 1px solid $color_grey !important;
    }
  }

}