@import "../base/colors";
@import "../utils/variables";

.sirclo_form
{
  &_row
  {
    position: relative;
    margin-bottom: 1rem;

    & > textarea
    {
      padding: 1rem;
    }

    & > div
    {
      position: relative;
      vertical-align: middle;

      & > input
      {
        padding: 0 1rem;
        height: calc(2em + 0.75rem + 2px);
        border: 1px solid $color_gray_primary;
        border-radius: .25rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
  
        &:focus
        {
          outline: 0;
          box-shadow: none;
          border: 1px solid #ced4da;
        }
  
        &[type="text"],
        &[type="password"]
        {
          width: 100%;
          padding-right: 3rem;
        }
      }

      & > button
      {
        position: absolute;
        right: 1rem;
        top: 23%;
        bottom: 0;
        background-color: transparent;
        border: none;
        padding: 0;
        height: fit-content;

        &:focus
        {
          outline: 0;
          box-shadow: none;
          border: none;
        }
      }
    }
  }

  &_input
  {
    padding: 0 1rem;
    height: calc(2em + 0.75rem + 2px);

    &:focus
    {
      outline: 0;
      box-shadow: none;
      border: 1px solid #ced4da;
    }

    &_btn
    {
      position: absolute;
      right: 1rem;
      top: 30%;
      bottom: 0;
      background-color: transparent;
      border: none;
      padding: 0;
      height: fit-content;

      &:focus
      {
        outline: 0;
        box-shadow: none;
        border: none;
      }
    }

    &[type="file"]
    {
      position: relative;
      font-size: 1rem;
      padding: 10px 9rem;
      vertical-align: middle;
      
      &::-webkit-file-upload-button
      {
        position: absolute;
        top: 10px;
        left: 1rem;
        padding: 2.5px 1.5rem;
        font-size: 10px;
        text-transform: uppercase;
        background: $color_gray;
        border: 1px solid $color_gray_primary;
        border-radius: 40px;
        cursor: pointer;

        &:active,
        &:focus
        {
          outline: 0;
          box-shadow: none;
        }
      } 
    }

    &_radio
    {
      display: flex;
      align-items: center;

      & > div
      {
        display: flex;
        align-items: center;
        margin-right: 1rem;

        input
        {
          height: inherit !important;
          margin-right: 5px;
        }
      }
    }
  }

  &_select
  {
    position: relative;

    &::after
    {
      content: "";
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 6px solid $color_gray_dark;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }

    & > select
    {
      -webkit-appearance:none;
      -moz-appearance:none;
      appearance:none;
    }
  }
}

.icon_password
{
  height: 1.25em;
}

.form 
{
  & > textarea
  {
    padding: 15px 24px 0 24px;
    @include typographyBuilder(secondary,400,14,24);
    height: 58px;
    width: 100%;
    border: 1px solid $color_border;
    box-sizing: border-box;
    border-radius: 37px;
    resize: none;
    
    &:focus
    {
      outline: none !important;
      border: 1px solid $color_rose;
      border-radius: 37px;
    }
  }

  & > label
  {
    position: absolute;
    z-index: 1;
    color: $color_text_secondary;
    padding: 9px 24px 0 24px;
    @include typographyBuilder(secondary,500,10,16);

    & ~ input, ~ div > input, ~ select
    {
      padding: 16px 24px 0 24px;
    }
  }

  & > input, > div > input
  {
    position: relative;
    @include typographyBuilder(secondary,400,14,24);
    height: 58px;
    width: 100%;
    border: 1px solid $color_border;
    box-sizing: border-box;
    border-radius: 37px;
    color: $color_text_primary;
    padding: 0 24px 0 24px;

    &:focus
    {
      outline: none !important;
      border: 1px solid $color_rose;
      border-radius: 37px;
    }
  }

  & > select
  {
    position: relative;
    @include typographyBuilder(secondary,400,14,24);
    height: 58px;
    width: 100%;
    border: 1px solid $color_border;
    box-sizing: border-box;
    border-radius: 37px;
    padding: 0 24px;
    color: $color_text_primary;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image:
      url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEyIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xMC41IDEuNzVMNiA2LjI1TDEuNSAxLjc1IiBzdHJva2U9IiM5OTgwNjAiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=),
      radial-gradient($color_rose_bg2 70%, transparent 72%);
    background-position:
      calc(100% - 24px) calc(100% - 20px),
      calc(100% - 12px) center;
    background-size:
      15px 15px,
      40px 40px;
    background-repeat: no-repeat;

    &:focus
    {
      outline: none !important;
      border: 1px solid $color_rose;
      border-radius: 37px;
    }
  }

  &_passwordContainer
  {
    display: grid;
    grid-template-columns: 80% 20%;

    & > input 
    {
      grid-column: 1 / span 2;
      grid-row: 1;
    }

    & > button 
    {
      color: $color_rose;
      width: 40px;
      height: 40px;
      align-self: center;
      justify-self: center;
      z-index: 2;
      grid-column: 2;
      grid-row: 1;
      background-color: $color_rose_bg2;
      border-radius: 30px;
      border: none;
    }
  }


  &_passwordStrengthBarContainer
  {
    padding-bottom: 8px;
  }

  &_passwordStrengthBar
  {
    height: 0;
    width: 100%;

    &::after
    {
      content:"";
      width: 1%;
      height: 3px;
      position: absolute;
      right: 33%;
      background-color: $color_white;
    }

    &::before
    {
      content:"";
      position: absolute;
      width: 1%;
      height: 3px;
      left: 33%;
      background-color: $color_white;
    }

    &[class*="weak"]
    {
      background-image: linear-gradient(to right, $color_error 32%, $color_grey 0%);
      height: 3px;

      & + span
      {
        color: $color_error;
      }
    }

    &[class*="medium"]
    {
      background-image: linear-gradient(to right, $color_warning 68%, $color_grey 0%);
      height: 3px;

      & + span
      {
        color:$color_warning;
      }
    }

    &[class*="strong"]
    {
      background: $color_success;
      height: 3px;

      & + span
      {
        color:$color_success;
      }
    }
    
  }

  &_passwordStrengthLabel
  {
    @include typographyBuilder(secondary,500,10,16);
  }

  &_criteriaList
  {
    list-style-type:none;
    display: none;
    margin: 0;
    padding: 0 0 16px 0;

    &[class*="show"]
    {
      display: grid !important;
      grid-template-columns: 50% 50%;
    }

    & > li
    {
      @include typographyBuilder(secondary,400,10,16);

      & > svg
      {
        margin-right: 7px;
      }
    }
  }
}